@keyframes animateSvg {
    to {
        transform: translate(-50%, -10%);
    }
}

@keyframes glow {
    to {
        transform: scale(1.3);
        background-color: $mediumaquamarine;
    }
}


@keyframes upupdowndown {
    to {
        transform: translateY(-10px);

    }
}