//equal or less than 1357px
@media screen and (max-width: 1357px) {
    nav {
        padding: 0 $p_md;
    }

    #home {
        height: 100vh;

        >section {
            &:first-of-type {
                padding-left: $p_md;

                // >div aside {
                //     flex-direction: row;
                //     gap: 5rem;
                //     width: 85%;
                // }
            }

            &:last-of-type {
                &::after {
                    margin-bottom: 60px;
                }

                >img {
                    margin-bottom: 60px;
                }
            }
        }
    }

    #work {
        padding: 8rem $p_md;
        height: 110vh;

        >section {
            >article {
                height: 20rem;
                width: 90%;
            }

            .workItem {
                padding: 2rem;
                height: 20rem;

                >aside {
                    >p {
                        margin: 1rem;
                    }

                    >a {
                        margin: 1rem;
                    }
                }
            }
        }
    }

    #timeline {
        margin-top: 0px;

        .timelineItem {
            width: 40%;
        }

        .leftTimeline {
            left: 10%;
        }
    }

    #services {
        padding: $p;

        >section {
            height: 90%;
        }
    }

    #contact>section>form {

        >input,
        >button,
        >textarea {
            font: 400 0.8rem $text1;
            width: 50%;

        }
    }

    footer {
        padding-left: $p_md;
    }
}

// more than 1357px
@media screen and (min-width: 1367px) {
    #home {
        >section {
            &:first-of-type {
                >div {


                    // aside {
                    //     gap: 3rem;
                    //     width: 85%;
                    // }

                    >div {
                        margin: 4rem 0;
                    }
                }
            }
        }
    }

    #timeline {
        margin-top: 39px;
    }

}


//equal or less than 1100px
@media screen and (max-width: 1100px) {
    nav {
        padding: 0 $p_base;
    }

    #home {
        >section {
            &:first-of-type {
                padding-left: $p_base;

                >div {
                    >h1 {
                        font: 900 2rem $text1;
                    }

                    >div {
                        margin: 2rem 0;
                    }

                    // aside {
                    //     width: 100%;
                    // }
                }
            }
        }
    }

    #work {
        padding: 8rem $p_base;
    }

    #timeline {
        margin-top: 0px;

        .timelineItem {
            width: 49%;

            >div {
                padding: 20px 10px;
            }
        }

        .leftTimeline {
            left: 1%;
        }
    }

    #services {
        padding: $p_base_inverse;
        padding-bottom: 15rem;
        text-align: center;

        >section {
            .serviceBox1 {
                >h3 {
                    font-size: 3.5rem;
                }

                >p {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }

            height: 90%;
        }
    }
}


//equal or less than 900px
@media screen and (max-width: 900px) {
    nav {
        padding: 0 $p_sm;

        >h2 {
            font-size: 1.8rem;
        }

        >div {
            gap: 1rem;
        }
    }

    #home {
        >section {
            &:first-of-type {
                padding-left: $p_sm;

                >div {
                    padding-top: 3rem;
                    overflow: auto;

                    >div {
                        gap: 2rem;
                        width: 100%;
                    }

                    // aside {
                    //     flex-direction: column;
                    //     gap: 1rem;
                    // }

                    article {
                        &::after {
                            width: 70%;
                        }

                        >p {
                            font: 900 1rem $text1;
                        }

                        >span {
                            font: 500 0.8rem $text2;

                        }
                    }
                }
            }
        }
    }

    #work {
        padding: 8rem 0;
    }

    #timeline {
        .timelineItem {
            width: 50%;

            >div {
                font-size: 0.8rem;
                padding: 20px 10px;
            }
        }

        .leftTimeline {
            left: 0%;

            &::after {
                right: -16px;
            }
        }
    }

    #services {
        padding: $p_base_inverse;
        padding-bottom: 15rem;
        text-align: center;

        >section {

            .serviceBox1 {
                >h3 {
                    font-size: 3rem;
                }

                >p {
                    font-size: 1rem;
                    padding: 1rem;
                }
            }

        }
    }

    #contact {
        >h2 {
            font: 100 2.3rem $text2;
        }

        >input,
        >textarea,
        button {
            width: 65%;
        }
    }

    footer {
        padding: 3rem;
        grid-template-columns: 1fr;

        >div {
            width: 100%;
            border: none;

            p {
                width: 50%;
                margin: 2rem auto;
            }
        }

        >a {
            margin: 1rem;
        }
    }
}

//equal or less than 786px
@media screen and (max-width: 786px) {
    nav {

        >div,
        >a {
            display: none;
        }


    }

    .navBtn {
        display: block;
    }



}

@media screen and (max-width: 600px) {
    #home {
        height: unset;
        flex-direction: column-reverse;

        >section {
            &:first-of-type {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 0;

                >div {
                    padding-top: 3rem;
                    border: none;

                    >h1 {
                        font: 900 2.5rem $text1;
                        text-align: center;
                    }

                    >div {
                        flex-direction: column;
                        justify-content: center;

                    }

                    // aside {
                    //     align-items: center;
                    //     gap: 1rem;
                    // }

                    article {
                        width: 100%;
                        text-align: center;

                        &::after {
                            width: 100%;
                            top: 0%;
                            left: 0%;
                        }

                        >p {
                            font: 900 1rem $text1;
                        }

                        >span {
                            font: 500 0.8rem $text2;

                        }
                    }
                }
            }

            &:last-of-type {
                border: none;

                &::after {
                    margin-bottom: 0;
                }

                >img {
                    margin-bottom: 0;
                }
            }
        }

        >svg {
            font-size: 2rem;
            bottom: 12%;
        }
    }

    #work {
        >section {
            >article {
                width: 100%;
                height: 30vmax;
            }

            .workItem {
                height: 30vmax;
                box-shadow: 0 0 5px $water;

                >aside {
                    padding: 1rem;

                    >h3 {
                        margin: 1rem;
                    }

                    >p {
                        letter-spacing: 0;
                        line-height: unset;
                        margin: 0%;
                        font-size: 0.75rem;
                    }

                    >a {
                        padding: 0.4rem 0.7rem;
                        font-size: 0.7rem;
                        margin: 1rem;
                    }
                }
            }
        }
    }

    #timeline {
        >h2 {
            width: 100%;
        }

        .timelineBox::after {
            left: 31px;
        }

        .timelineItem {
            width: 100%;
            padding-left: 5rem;
            padding-right: 2rem;

            &:nth-child(odd) {
                text-align: start;
            }

            >div {
                font-size: 0.8rem;
                padding: 20px 10px;
            }
        }

        .rightTimeline {
            left: 0%;
        }

        .leftTimeline,
        .rightTimeline {
            &::after {
                left: 15px;
            }
        }
    }

    #services {
        >section {
            margin: 3rem 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .serviceBox1 {
                grid-column: 1 / 3;
                grid-row: unset;

                >h3 {
                    font: 100 4rem $text1;
                }

                >p {
                    font: 700 1.2rem $text2;
                    letter-spacing: 3px;
                    padding: 1rem;
                }
            }

            .serviceBox2 {
                grid-column: 1 / 3;

                >p {

                    padding: 1rem;
                }
            }

            .serviceBox3 {
                grid-column: 1 / 3;

                >p {
                    padding: 1rem;
                }
            }

            height: 90%;
        }
    }

    #contact {
        width: 100%;
        grid-template-columns: 1fr;

        >section {
            background-color: $water;
        }

        >aside {
            display: none;
        }
    }

}