$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;

$dark: #203139;
$dark_light: #9D9C98;
$mediumaquamarine: #5FD9B3;
$darkaquamarine: #17644B;
$seagreen: #91F1C7;
$water: #DAF6F4;
$lightgray: #D2D2D2;

$p: 13.33vmax;
$p_base: 5vmax;
$p_sm: 7vmax;
$p_md: 13.33vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm_inverse: 15vmax 10vmax;
$p_zero: 0;