#timeline {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    >h2{
        width: fit-content;
        margin: 0 auto;
        padding: 1rem;
        // overflow: hidden;
        text-align: center;
        background-color: $water;
        border-bottom: 4px solid $mediumaquamarine;
        z-index: 1;

    }
    .timelineBox {
        min-width: 50%;
        height: 100%;
        overflow-y: auto;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10% 0% 4% 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &::after {
            content: "";
            position: absolute;
            width: 6px;
            background-color: $mediumaquamarine;
            top: 0%;
            bottom: 0%;
            left: 50%;
            margin-left: -3px;
        }
    }

    .timelineItem {
        padding: 1rem 3rem;
        position: relative;
        background-color: inherit;
        width: 44%;
        text-align: justify;


        &:nth-child(odd) {
            text-align: end;

            &::after {
                animation: glow 1s infinite ease-in alternate;
            }
        }

        &:nth-child(even) {
            text-align: start;

            &::after {
                animation: glow 1s infinite ease-in alternate;
            }

        }

        &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: $water;
            border: 4px solid $mediumaquamarine;
            top: 45px;
            border-radius: 50%;
            z-index: 1;
        }

        >div {
            padding: 20px 30px;
            background-color: $mediumaquamarine;
            color: $dark;
            border-radius: 6px;
            letter-spacing: 2px;
        }
    }

    .leftTimeline {
        left: 6%;
        &::after {
            right: -16px;
        }
    }

    .rightTimeline {
        left: 50%;

        &::after {
            left: -16px;
        }
    }
}